.navbar-main {
	width: 100%; 
	min-height: 90px; 
	top: 0; 
	display: flex; 
	justify-content: center;
	background: rgb(29, 29, 20);
}

.navbar-left {
	width: 10%; 
	display: flex; 
	float: right; 
	justify-content: center;
	padding-top: 1.8rem; 
}

.navbar-left2 {
	width: 30%; 
	display: flex; 
	float: left; 
	justify-content: left;
	/*text-align: left;*/
	margin: auto; 
}

.navbar-right {
	width: 60%; 
	float: right;
}